.shared-booze {
  .content {
    padding-bottom: 7rem;
  }
  .box {
    position: relative;
  }
  //.overlay {
  //  position: absolute;
  //  top: 0;
  //  bottom: 0;
  //  left: 15px;
  //  right: 0;
  //  height: 100%;
  //  width: 91%;
  //  opacity: 0;
  //  transition: .5s ease;
  //  background-color: $primary-color;
  //}

  .box:hover {
    opacity: 0.5;
    transition: .5s ease;
    //background-color: $primary-color;
  }

  //.box:hover .overlay {
  //  opacity: 0.5;
  //}

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 1;
  }

  .desc {
    font-size: 12px;
  }
}